
  .dialog{
    background-color: rgba(202, 207, 211);
    padding:20px;
  }


  
  
  button.save:hover {
    background-color: #6372f3;
    color: white;
  }
    

  
  button.cancel:hover {
    background-color: #db4b4b;
    color: white;
  }

